.page__content ul.primary li::before {
	background: none;
}
.breadcrumbs__link:last-child::after {
	display: inline-block;
}

.aside-menu__header i a {
	display: inline;
} 

li a.active {
    color: inherit;
}
/* reset from redix_layouts.css */
.container .container {
    margin-left: auto;
    margin-right: auto;
    width: inherit;
}

tbody {
  border-top:none;
}

.aside-menu__link.current {
  background: #2694ee;
}

.page__content ul.pager li::before  {
	background: none;
	position: relative;
	top:0;
	left:0;
	width:0;
}
.page__content ul.pager li {
	display: inline-block;
	padding: 0;
	margin: 0;
	text-align: center;
}
.item-list .pager{
  margin-bottom: 0.625rem;
  width: 100%;
  text-align: center;
}
.page__content ul.pager li a {
  margin-bottom: 0.625rem;
  display: inline-block;
  font-family: Roboto, Helvetica, Arial, Sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.3125rem 0.625rem;
  transition: background 0.3s, border-color 0.3s;
  letter-spacing: 0.05rem;
}
.page__content ul.pager li.pager-current {
  margin-bottom: 0.625rem;
  display: inline-block;
  font-family: Roboto, Helvetica, Arial, Sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.3125rem 0.625rem;
  transition: background 0.3s, border-color 0.3s;
  letter-spacing: 0.05rem;
  color: #2d2d2d;
  background: #2694ee;
  border-color: #2694ee;
}
/* reset drupal default */

.pager li > a, .pager li > span {
	background-color: transparent;
    border: none;
    border-radius: 0 !important;
    display: inline-block;
    padding: 0;
}

.page__content ul.pager li a:hover,
.page__content ul.pager li a:active,
.page__content ul.pager li a:focus {
  color: #2d2d2d;
  background: #2694ee;
  border-color: #2694ee;
  border-radius: 0;
}

.page__content .pager li.pager-next a, 
.page__content .pager li.pager-last a,
.page__content .pager li.pager-first a,
.page__content .pager li.pager-previous a{
  background-color: #454545;
  text-transform: uppercase;
  color: #fff !important;
  text-align: center;
  font-family: Roboto, Helvetica, Arial, Sans-serif;
  font-weight: 500;
  height: auto;
  transition: background-color 0.3s;
  text-decoration: none !important;
}

.events-widget .news-widget__image {
  display: block;
}

.intro .intro__banner--orange:hover {
  background: #e55d2a;
}
.intro .intro__banner--blue:hover {
  background: #09518d;
}
.empty {
  margin: 1em 0;
}

.breadcrumbs a {
    color: #1973bc;
}
.breadcrumbs a:after {
    content: "/";
    display: inline-block;
    padding: 0 0.3125rem;
}
.inline-manage {
  font-size:0.7rem;
}

td {
  vertical-align: top;
}

aside ul.menu li a{
  display: block;
  background: #454545;
  padding: 1.25rem;
  text-transform: uppercase;
  color: #fff !important;
  text-align: center;
  font-family: Roboto, Helvetica, Arial, Sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  height: 3.6875rem;
  transition: background-color 0.3s;
  text-decoration: none !important;
}
aside ul.menu li a:hover {
  color: #fff;
  background: #1973bc;
}
aside ul.menu li  {
  margin: 0;
  padding: 0;
}
.cafedra__image {
  height: auto;
}
#common-search label {
  display: none;
}
img {
  height: auto !important;
}

#block-system-main table {
  margin-bottom: 1.25rem;
}
#block-system-main table td {
  padding-right:1.25rem;
}
#block-system-main  .table-width-3, 
#block-system-main  .table-width-1, 
#block-system-main  .table-width-2, 
#block-system-main  .table-width-4 {
    width:100%;
}
#block-system-main  .table-width-4 td {
  width:25%;
}
#block-system-main  .table-width-3 td {
  width:33%;
}
#block-system-main  .table-width-2 td {
  width:50%;
}
#block-system-main  .table-width-1 td {
  width:100%;
}
.common-table {
  width:100%;
}
.common-table tr {
  border-top: 1px solid #5d5d5d;
}
.common-table thead tr {
  border-top:none;
}
.common-table td {
  padding: 1.875rem 1.25rem 1.875rem 0;
  border:none;
  width: auto !important;
}
@media only screen and (max-width: 767px) {
 #block-system-main tr {
    display: block;
    padding: 0.625rem 0;
  }
  .visible-xs.common-table tr{
    display: table-row;
  }
  #block-system-main td {
    display: block;
    width: 100%;
    padding: 0.3125rem 0;
  }
  #block-system-main  .table-width-3 td, 
  #block-system-main  .table-width-1 td, 
  #block-system-main  .table-width-2 td, 
  #block-system-main  .table-width-4 td  {
    width:100%;
  }
  .visible-xs.common-table td {
    display: table-cell;
    width: 1%;
  }
}

.common-table th {
  margin-bottom: 0.625rem;
  padding: 1.875rem 1.25rem 1.875rem 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75rem;
  border:none;
}
tbody, table, thead {
  border:none;
}

.page__content p a.download, a.download{
  display: block; 
  background: url(../spbgu/app/img/icons/download.svg);
  background-repeat: no-repeat; 
  background-size:25px 20px;
  padding-left: 2.1875rem;
  display: block;
  font-size: 0.6875rem;
  text-transform: uppercase;
   color: #5d5d5d;
   transition: color 0.3s;
}

.page__content p a.download:hover, a.download:hover, 
.page__content p a.download:active, a.download:active{
  color: #9b9b9b;
  text-decoration: none;
  outline: none;
}
.big {
   font-size: 1.25rem;
}
.cke_show_borders table td {
  border:1px black solid;
}
.transparent-table {
  width: 100% !important;
}
.transparent-table tr,  .transparent-table td {
  border:none;
  padding-right: 1.25rem;
}
.ui-widget-content {
  background: white;
}
.cafedra-big__text {
  display: block;
}

input.form-text {
  border-bottom: 1px solid #9b9b9b;
    border-radius: 0;
    display: block;
    margin-bottom: 1.25rem;
    width: 21.875rem;
  }
label {
  display: block;
    font-weight: 400;
    margin-bottom: 0;
}
textarea {
 border: 1px solid #9b9b9b;
    resize: vertical;
    width: 100%;
}


input.form-submit{
  display: block;
  background: #454545;
  padding: 1.25rem;
  text-transform: uppercase;
  color: #fff !important;
  text-align: center;
  font-family: Roboto, Helvetica, Arial, Sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  height: 3.6875rem;
  transition: background-color 0.3s;
  text-decoration: none !important;
}
input.form-submit:hover {
  color: #fff;
  background: #1973bc;
}

.form-item input.error {
  border-top:0;
  border-left:0;
  border-right: 0;
  border-bottom-width: 1px;
}
.form-item textarea.error , .form-item select.error{
 border-width: 1px; 
}
#contact-site-form .form-required {
  display: none;
}
.events-widget__event span, .staff-card span, .news-widget__item span{
  display: block;
}
.page__content p a.events-widget__event, .page__content p a.news-widget__item , .page__content p a.staff-card{
  color:#5d5d5d;
}
#modal-content img {
  width: auto !important;
}
.full-menu__featured a {
  color:white;
}
.full-menu__featured:hover a{
  color: #9b9b9b;
  text-decoration: none;
  outline: none;
}

#contact-site-form input[type="checkbox"] {
  margin: -4px 0 0 0;
}

.media-default img , .media-image_original img{
  width: inherit;
}
.media-element-container{
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
}
.field-name-field-file-image-title-text {
   font-weight: 500;
   padding-top: 1.25rem;
}
.field-name-field-file-image-alt-text {
  font-size: 0.75rem;
  font-weight: 300;
}
.person-card .media-element-container {
  padding:0;
  margin: 0;
}
.notice-widget {
  background: #2d2d2d none repeat scroll 0 0;
}
ol li {
  display: list-item; 
  margin: 0 0 0 20px;
}
ol {
  padding-bottom:0.9375rem;
}
@media only screen and (min-width: 1279px) {
  .events-widget {
    min-height: 550px;
    position: relative;
  }
  .events-widget .big-btn  {
    position: absolute;
    bottom:0;
    width:100%;
  }
}

.panel-panel .pane-bundle-person h2 {
  display: none; 
}