<nav id="aside-menu" class="aside-menu hidden-xs hidden-sm" role="navigation">
   <div class="" id="aside-menu__accordion">
        <div class="panel">
            <h4 class="aside-menu__header">
                <a class="aside-menu__link" href="/">Руководство</a>
                <a data-toggle="collapse" data-parent="#aside-menu__accordion"  aria-expanded="true"  href="#collapse-aside-1"><i>@@include('app/img/icons/accordion-arrow.svg')</i></a>
            </h4>
            <ul id="collapse-aside-1" class=" collapse in">
                <li class="aside-menu__item current"><a href="#" class="aside-menu__link">Телефоны и адреса</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Экспертная деятельность</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Документы</a></li>
            </ul>
        </div>
        <div class="panel">
            <h4 class="aside-menu__header">
                <a class="aside-menu__link" href="/">Структурные подразделения ректората </a>
                <a data-toggle="collapse" data-parent="#aside-menu__accordion" href="#collapse-aside-2"><i>@@include('app/img/icons/accordion-arrow.svg')</i></a>
            </h4>
            <ul id="collapse-aside-2" class="collapse">
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Руководство</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Структурные подразделения ректората</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Кафедры факультета</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Экспертная деятельность</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Партнеры</a></li>
            </ul>
        </div>
        <div class="panel">
            <h4 class="aside-menu__header">
               <a class="aside-menu__link" href="/">Кафедры факультета </a>
               <a data-toggle="collapse" data-parent="#aside-menu__accordion" href="#collapse-aside-3"><i>@@include('app/img/icons/accordion-arrow.svg')</i></a>
            </h4>
            <ul id="collapse-aside-3" class="collapse">
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Руководство</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Кафедры факультета</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Экспертная деятельность</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Партнеры</a></li>
            </ul>
        </div>
    </div>
    <ul>
        <li class="aside-menu__item"><a href="#" class="aside-menu__link">Контакты</a></li>
        <li class="aside-menu__item"><a href="#" class="aside-menu__link">Документы</a></li>
        <li class="aside-menu__item"><a href="#" class="aside-menu__link">Выпускникам</a></li>
        <li class="aside-menu__item"><a href="#" class="aside-menu__link">Социальная жизнь</a></li>
        <li class="aside-menu__item"><a href="#" class="aside-menu__link">Международная деятельность</a></li>
        <li class="aside-menu__item"><a href="#" class="aside-menu__link">Инфраструктура</a></li>
        <li class="aside-menu__item"><a href="#" class="aside-menu__link">Партнеры</a></li>
        <li class="aside-menu__item"><a href="#" class="aside-menu__link">Экспертная деятельность</a></li>
    </ul>
</nav>