<div id="events-filter" class="articles-filter articles-filter--events">
    <div class="articles-filter__header">Фильтр Событий</div> 
    <div class="year-selector panel">
        <div class="year-selector__current" data-toggle="collapse" data-parent="#news-filter" aria-expanded="false" href="#news-filter-collapse-1">2009 <i class="year-selector__icon">@@include('app/img/icons/accordion-arrow.svg')</i></div>
        <div id="news-filter-collapse-1" class="collapse">
            <ul>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2015</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2014</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2013</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2012</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2011</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2010</a></li>
                <li class="year-selector__item year-selector__item--current"><a href="#" class="year-selector__link">2009</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2008</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2007</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2006</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2005</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2004</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2003</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2002</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2001</a></li>
                <li class="year-selector__item"><a href="#" class="year-selector__link">2000</a></li>
            </ul>
        </div>
    </div>
    <ul class="month-selector">
        <li class="month-selector__item"><a href="#" class="month-selector__link">Январь <span class="month-selector__count">10</span></a></li>
        <li class="month-selector__item"><a href="#" class="month-selector__link">Февраль <span class="month-selector__count">21</span></a></li>
        <li class="month-selector__item"><a href="#" class="month-selector__link">Март <span class="month-selector__count">12</span></a></li>
        <li class="month-selector__item"><a href="#" class="month-selector__link">Апрель <span class="month-selector__count">6</span></a></li>
        <li class="month-selector__item"><a href="#" class="month-selector__link">Май <span class="month-selector__count">4</span></a></li>
        <li class="month-selector__item"><a href="#" class="month-selector__link">Июнь <span class="month-selector__count">16</span></a></li>
        <li class="month-selector__item month-selector__item--current"><a href="#" class="month-selector__link">Июль <span class="month-selector__count">7</span></a></li>
        <li class="month-selector__item"><a href="#" class="month-selector__link">Август <span class="month-selector__count">11</span></a></li>
        <li class="month-selector__item"><a href="#" class="month-selector__link">Сентябрь <span class="month-selector__count">19</span></a></li>
        <li class="month-selector__item"><a href="#" class="month-selector__link">Октябрь <span class="month-selector__count">17</span></a></li>
        <li class="month-selector__item"><a href="#" class="month-selector__link">Ноябрь <span class="month-selector__count">20</span></a></li>
        <li class="month-selector__item"><a href="#" class="month-selector__link">Декабрь <span class="month-selector__count">22</span></a></li>
    </ul>

</div>