<div id="events-widget" class="events-widget">
    <a href="#" class="events-widget__event">
        <img src="./img/temp/events-widget__image.jpg" class="events-widget__image">
        <div class="events-widget__date">11—12 сентября</div>
        <div class="events-widget__text">Встреча с известным тележурналистом, автором и ведущим программы «Нужное подчеркнуть» Валерием Татаровым </div>
    </a>
    <a href="#" class="events-widget__event">
        <img src="./img/temp/events-widget__image2.jpg" class="events-widget__image">
        <div class="events-widget__date">15 октября</div>
        <div class="events-widget__text">Встреча с Валерием Татаровым, автором и ведущим программы «Нужное подчеркнуть»</div>
    </a>
    <a href="#" class="events-widget__event events-widget__event--md-hidden">
        <img src="./img/temp/events-widget__image2.jpg" class="events-widget__image">
        <div class="events-widget__date">15 октября</div>
        <div class="events-widget__text">Встреча с Валерием Татаровым, автором и ведущим программы «Нужное подчеркнуть»</div>
    </a>
    <a href="#" class="big-btn">Все события</a>
</div>