    </div> <!-- row -->
  </div> <!-- / container main-content -->

  <footer class="footer">
  	<div class="container footer__container">
  		<div class="row">
  			<div class="col-xs-12 col-md-5">
  				<div class="footer__gerb">
  					@@include('app/img/common/gerb.svg')
          </div>
          <h3 class="footer__header">
            САНКТ-ПЕТЕРБУРГСКИЙ <br>ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-5">
              <ul class="footer__menu">
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">полезные ссылки</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">программа развития спбгу</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">виртуальная приемная спбгу</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-7">
              <ul class="footer__menu">
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">бесплатная юридическая консультация</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">бесплатная психологическая помощь</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">центр защиты прав абитуриентов</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="footer__econ-logo">
            @@include('app/img/common/logo.svg')
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4 col-sm-4">
              <h3 class="footer__header footer__header--econ">ЭКОНОМИЧЕСКИЙ <br>ФАКУЛЬТЕТ</h3>
              <ul class="footer__menu">
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">факультет</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">поступающим</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">студентам</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">наука</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">новости и события</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">персоналии</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-4">
              <h3 class="footer__header">ФАКУЛЬТЕТ В <br>СОЦИАЛЬНЫХ СЕТЯХ</h3>
              <ul class="footer__menu">
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">vkontakte</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">facebook</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">youtube</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">twitter</a></li>
              </ul>

            </div>
            <div class="col-xs-12 col-md-4 col-sm-4">
              <h3 class="footer__header">КОНТАКТНАЯ <br>ИНФОРМАЦИЯ</h3>
              <ul class="footer__menu">
                <li class="footer__menu__item"><a href="tel:+78122754966" class="li footer__menu__link">ОТДЕЛ ПО СВЯЗЯМ С ОБЩЕСТВЕННОСТЬЮ <br>+7 (812) 275 49 66</a></li>
                <li class="footer__menu__item"><a href="tel:+78123204050" class="li footer__menu__link">ПРИЕМНАЯ ДЕКАНА <br>+7 (812) 320 40 50</a></li>
                <li class="footer__menu__item"><a href="tel:+78122720803" class="li footer__menu__link">УЧЕБНЫЙ ОТДЕЛ <br>+7 (812) 272 08 03</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">АДРЕСА ФАКУЛЬТЕТА</a></li>
                <li class="footer__menu__item"><a href="#" class="li footer__menu__link">BLACKBOARD</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row footer__copy">
        <div class="col-xs-12 col-md-5">
          <!-- <div class="footer__copy"> -->
          © 2015 Санкт-Петербургский государственный университет
          <!-- </div> -->
        </div>
        <div class="col-xs-12 col-md-6">
          <!-- <div class=""> -->
            Сделано <a href="http://whitescape.com/" class="footer__copy--whitescape" target="_blank">Whitescape</a> в сотрудничестве с СПбГУ
          <!-- </div> -->
        </div>
      </div>
      @@include('static-src/html/partials/spbgu-portal.html')
    </div>
  </footer>
</div> <!-- /wrapper /st-container-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/vendor/classie.js"></script>
<script src="js/vendor/bootstrap.js"></script>
<script src="js/vendor/owl.carousel.old.js"></script>
<script src="js/vendor/perfect-scrollbar.jquery.js"></script>
<script src="js/vendor/jquery.sticky-kit.min.js"></script>
<script src="js/velocity.min.js"></script>
<!-- <script src="js/vendor/jquery.nicescroll.min.js"></script> -->
<script src="js/modules.js"></script>
<script src="js/global.js"></script>
<script src="js/uisearch.js"></script>
<script src="js/header.js"></script>
<script src="js/index.js"></script>
<script src="js/page.js"></script>
<script src="js/map-settings.js"></script>
<script src="js/footer.js"></script>

</body>
</html>