
    

<div id="intro" class="intro">
    <!-- Слайдер в основном блоке -->
    <div id="intro__slider" class="intro__banner intro__slider owl-carousel">
        <a href="#" class="intro__slide intro__banner--orange">
            <h3 class="intro__header">В «Немецкий Оксфорд» по программе</h3>
            <p class="intro__text">Программа международного студенческого обмена с Freie Universität Berlin — возможность участвовать в научном и культурном обмене</p>
            <img src="./img/temp/intro__slider__image.jpg" class="intro__image">
        </a> 
        <a href="#" class="intro__slide intro__banner--orange">
            <h3 class="intro__header">В «Немецкий Оксфорд» по программе</h3>
            <p class="intro__text">Программа международного студенческого обмена с Freie Universität Berlin — возможность участвовать в научном и культурном обмене</p>
            <img src="./img/temp/intro__slider__image.jpg" class="intro__image">
        </a>        
        <a href="#" class="intro__slide intro__banner--orange">
            <h3 class="intro__header">В «Немецкий Оксфорд» по программе</h3>
            <p class="intro__text">Программа международного студенческого обмена с Freie Universität Berlin — возможность участвовать в научном и культурном обмене</p>
            <img src="./img/temp/intro__slider__image.jpg" class="intro__image">
        </a>
    </div>
    <!-- END Слайдер в основном блоке  -->
    <a href="#" class="intro__banner intro__grants intro__banner--blue">
        <h3 class="intro__header">Конкурсы и гранты</h3>
        <p class="intro__text">Программа международного студенческого обмена с Freie Universität Berlin. 
        Признаный лидер в подготовке высококвалифицированых специалистов для работы в одной из самых востребованых на данный момент сфере деятельности,
        </p>
    </a>
    <a href="#" class="intro__banner intro__banner--blue">
            <img src="./img/temp/intro__grants__image.jpg" alt="" class="intro__image">
            <h3 class="intro__header">Почему наш факультет?</h3>
            <p class="intro__text">Программа международного студенческого обмена, практика в современных известных компаниях во время и после обучения</p>
    </a>
    <div class="intro__banner intro__econ intro__banner--orange">
        <h3 class="intro__header">Экономический факультет СПбГУ</h3>
        <p class="intro__text">
            Признаный лидер в подготовке высококвалифицированых специалистов для работы в одной из самых востребованых на данный момент сфере деятельности, признаный лидер в подготовке высококвалифицированых специалистов для работы в одной из самыхлидер в подготовке лифицированых специалистов для работы в одной из самых
        </p>
        <div class="intro__econ__links">
            <a href="#" class="intro__econ__link">КАФЕДРЫ <br>ФАКУЛЬТЕТА</a>
            <a href="#" class="intro__econ__link">ИЗВЕСТНЫЕ <br>ВЫПУСКНИКИ</a>
            <a href="#" class="intro__econ__link">ПРОГРАММЫ <br>И ПОСТУПЛЕНИЕ</a>
        </div>
        <h3 class="intro__header">13 кафедр, 400 преподователей, 3 здания факультета</h3>
       <!--  <div class="intro__econ__features row">
            <div class="intro__econ__feature col-xs-3 col-sm-3">
                <div class="intro__header">13</div>
                <div class="intro__text">кафедр</div>
            </div>
            <div class="intro__econ__feature col-xs-4 col-sm-4">
                <div class="intro__header">400</div>
                <div class="intro__text">преподователей</div>
            </div>
            <div class="intro__econ__feature col-xs-5 col-sm-5">
                <div class="intro__header">3</div>
                <div class="intro__text">здания факультета</div>
            </div>
        </div> -->
    </div>
</div>
