<div id="aside-menu-shade" class="aside-menu-shade visible-xs visible-sm"></div>
<nav id="mobile-menu" class="mobile-menu aside-menu visible-xs visible-sm" role="navigation">
    <a href="#" id="mobile-menu__close" class="aside-menu__close">
        @@include('app/img/icons/close.svg')
    </a>
   <div class="" id="mobile-menu__accordion">
        <div class="panel">
            <h4 class="aside-menu__header">
                <a class="aside-menu__link" href="/">Факультет</a>
                <a data-toggle="collapse" data-parent="#mobile-menu__accordion"  aria-expanded="true"  href="#collapse-mobile-1"><i>@@include('app/img/icons/accordion-arrow.svg')</i></a>
            </h4>
            <ul id="collapse-mobile-1" class=" collapse in">
                <li class="aside-menu__item current"><a href="#" class="aside-menu__link">Телефоны и адреса</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Экспертная деятельность</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Документы</a></li>
            </ul>
        </div>
        <div class="panel">
            <h4 class="aside-menu__header">
                <a class="aside-menu__link" href="/">Поступающим</a>
                <a data-toggle="collapse" data-parent="#mobile-menu__accordion" href="#collapse-mobile-2"><i>@@include('app/img/icons/accordion-arrow.svg')</i></a>
            </h4>
            <ul id="collapse-mobile-2" class="collapse">
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Руководство</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Структурные подразделения ректората</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Кафедры факультета</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Экспертная деятельность</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Партнеры</a></li>
            </ul>
        </div>
        <div class="panel">
            <h4 class="aside-menu__header">
               <a class="aside-menu__link" href="/">Студентам</a>
               <a data-toggle="collapse" data-parent="#mobile-menu__accordion" href="#collapse-mobile-3"><i>@@include('app/img/icons/accordion-arrow.svg')</i></a>
            </h4>
            <ul id="collapse-mobile-3" class="collapse">
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Руководство</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Кафедры факультета</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Экспертная деятельность</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Партнеры</a></li>
            </ul>
        </div>
        <div class="panel">
            <h4 class="aside-menu__header">
               <a class="aside-menu__link" href="/">Наука</a>
               <a data-toggle="collapse" data-parent="#mobile-menu__accordion" href="#collapse-mobile-4"><i>@@include('app/img/icons/accordion-arrow.svg')</i></a>
            </h4>
            <ul id="collapse-mobile-4" class="collapse">
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Руководство</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Кафедры факультета</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Экспертная деятельность</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Партнеры</a></li>
            </ul>
        </div>
        <div class="panel">
            <h4 class="aside-menu__header">
               <a class="aside-menu__link" href="/">Новости и события</a>
               <a data-toggle="collapse" data-parent="#mobile-menu__accordion" href="#collapse-mobile-5"><i>@@include('app/img/icons/accordion-arrow.svg')</i></a>
            </h4>
            <ul id="collapse-mobile-5" class="collapse">
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Руководство</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Кафедры факультета</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Экспертная деятельность</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Партнеры</a></li>
            </ul>
        </div>
        <div class="panel">
            <h4 class="aside-menu__header">
               <a class="aside-menu__link" href="/">Персоналии</a>
               <a data-toggle="collapse" data-parent="#mobile-menu__accordion" href="#collapse-mobile-6"><i>@@include('app/img/icons/accordion-arrow.svg')</i></a>
            </h4>
            <ul id="collapse-mobile-6" class="collapse">
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Руководство</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Кафедры факультета</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Экспертная деятельность</a></li>
                <li class="aside-menu__item"><a href="#" class="aside-menu__link">Партнеры</a></li>
            </ul>
        </div>
    </div>

    <div class="aside-menu__shortcuts">
        <a href="#" class="aside-menu__shortcut">Расписание спбгу</a>
        <a href="#" class="aside-menu__shortcut">Вестник</a>
        <a href="#" class="aside-menu__shortcut current">Инфраструктура</a>
        <a href="#" class="aside-menu__shortcut">Документы</a>
        <a href="#" class="aside-menu__shortcut">Контакты</a>   

    </div>
</nav>