    <div id="news-widget" class="news-widget">
        <div id="news-widget__inner" class="news-widget__inner cf">
            <a href="#" class="news-widget__item">
                <div class="news-widget__title">Санкт-Петербургский университет отмечает 70-летие Победы в Великой Отечественной войне</div>
                <div class="news-widget__meta cf">
                    <div class="news-widget__date">8 мая 2015</div>
                    <div class="news-widget__category">Новости факультета</div>
                </div>
            </a>
            <a href="#" class="news-widget__item">
                <div class="news-widget__title">Студенческий фотоквест, посвященный 70-летию Победы!</div>
                <div class="news-widget__meta cf">
                    <div class="news-widget__date">8 мая 2015</div>
                    <div class="news-widget__category">Студенческая жизнь</div>
                </div>
            </a>
            <a href="#" class="news-widget__item">
                <div class="news-widget__title">Международная программа им. Марии Кюри — новость Международная программа им.</div>
                <div class="news-widget__meta cf">
                    <div class="news-widget__date">6 мая 2015</div>
                    <div class="news-widget__category">Новости факультета</div>
                </div>
            </a>
            <a href="#" class="news-widget__item">
                <div class="news-widget__title">Международная программа им. Марии Кюри — новость Международная программа им. Марии Кюри — новостьМеждународная программа им.  </div>
                <div class="news-widget__meta cf">
                    <div class="news-widget__date">8 мая 2015</div>
                    <div class="news-widget__category">Новости факультета</div>
                </div>
            </a>
            <a href="#" class="news-widget__item">
                <div class="news-widget__title">Студенческий фотоквест, посвященный 70-летию Победы!</div>
                <div class="news-widget__meta cf">
                    <div class="news-widget__date">8 мая 2015</div>
                    <div class="news-widget__category">Студенческая жизнь</div>
                </div>
            </a>
            <a href="#" class="news-widget__item">
                <div class="news-widget__title">70-летие Победы в Отечественной войне. Набор волонтеров</div>
                <div class="news-widget__meta cf">
                    <div class="news-widget__date">6 мая 2015</div>
                    <div class="news-widget__category">Новости факультета</div>
                </div>
            </a>
        </div>
        <div id="news-widget__btn" class="news-widget__btn">
            <a href="#" class="big-btn">Все Новости</a>
        </div>
    </div>
