.aside-menu
  background gray6
  z-index: 1000
  color white
  font-family: font-sans
  padding rem(20) 0
  &.mobile-menu
    font-size: rem(15)
    padding-top rem(60)
    padding-bottom 0
    position: fixed
    top 0
    right 0
    bottom 0
    width rem(500)
    transform translate3d(100%,0,0)
    transform translate(100%,0)
    transition transform .5s cubic-bezier(0.86, 0, 0.07, 1);
    .mobile-menu--open &
      transform translate(0,0)
      transform translate3d(0,0,0)
    +below(700px)
      width 100%
  .current a
    background light-blue
  &__header
    position relative
    .aside-menu__link
      display block
      position relative
      padding-right rem(40)
      line-height 1.3
      &:hover
        color inherit
    i
      position absolute
      right rem(20)
      top rem(10)
      transform rotate(0)
      transition transform .3s, top .3s
      transform-origin 50% 60%
      .mobile-menu &
        right rem(30)
      svg 
        width rem(15)
        height rem(10)
        path
          stroke white
    a[aria-expanded=true] i
      transform rotate(180deg)
  &__header+ul
    background gray5
  &__item
    // margin-bottom rem(20)
  &__link
    display block
    color white
    font-weight: 500
    line-height 1.3
    padding rem(10) rem(20)
    background transparent
    transition background .3s
    .mobile-menu &
      padding-right rem(30)
    &:hover
      background gray4
      color white
    &:focus
      color white
    .panel &
      font-weight: 300
    .aside-menu__header &
      font-weight: 500
    
  .panel
    background: none
    margin 0
    border none
    box-shadow none
    border-radius none
  &__close
    position: fixed
    right rem(30)
    top rem(20)  
    svg
      width rem(15)
      height rem(15)
    +below(xs)
      // right rem(30)
      // top rem(20)  
  &-shade
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background black
    opacity 0
    visibility hidden
    z-index -1
    transition opacity .5s
    .mobile-menu--open &
      opacity 0.5
      visibility visible
      z-index 500
  &__shortcuts
    text-transform: uppercase
    margin rem(30) rem(0) rem(30)
    border-top rem(1.5) solid gray3
    font-size: rem(12)
    padding rem(20) 0
  &__shortcut
    color white
    display block
    padding rem(10) rem(20) rem(10) rem(30)
    transition background .3s
    &.current
      background light-blue
    &:hover
      background gray4
      color white